@use "src/scss/variables";

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark;
  padding: 80px 20px 0;

  @media (min-width: 768px) {
    padding: 48px 0 0 0;
  }

  &__text {
    margin-bottom: 80px;

    @media (min-width: 768px) {
      background-image: url("../assets/img/DJI_1-tablet.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 678px;
      margin-bottom: 0;
    }
  }

  &__header {
    color: white;
    @include variables.h1_mobile;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 24px 0;

    @media (min-width: 768px) {
      margin-top: 24px;
      color: black;
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__subtitle {
    color: white;
    @include variables.normal;
    text-transform: uppercase;
    text-align: center;
    margin: 0;

    @media (min-width: 768px) {
      color: black;
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__logo {
    width: 268px;
    height: 78px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__link {
    color: white;
    text-decoration: none;

    @media (min-width: 768px) {
      color: black;
    }
  }

  &__contact {
    display: none;

    @media (min-width: 768px) {
      width: 100%;
      height: calc(100vh - 726px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__button {
    background-color: variables.$blue2;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    margin: 12px 0;
    text-decoration: none;
  }

  &__icon {
    margin-left: 16px;
  }

  &__paragraph {
    @include variables.button;
    text-transform: uppercase;
    color: white;
    margin: 0 20px;
  }
}