@import "~normalize.css";

@import "_variables";
@import "modules/navigation";
@import "modules/hero";
@import "modules/electric";
@import "modules/clime";
@import "modules/heating";
@import "modules/photos";
@import "modules/contact";
@import "modules/footer";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&family=Roboto:wght@300;400;700&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba($darkBlue, 0.4);
  border-radius: 10px;
  background-color: $dark;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: $dark;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba($red, 0.8);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark;
}
